{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href='{{url_for("static", filename="/styles/faqs.css")}}'/>
{% endblock %}
{% block main_content %}
<h1 style="padding: 25px;">Frequently Asked Questions</h1>

<button class="accordion btn btn-secondary">What is livesongbook(LSB 1.0)?</button>
<div class="panel">
  <p class="p">LSB is a songbook software used by end time message believers in praising God through singing in churches, homes or anywhere they feel like singing</p>
</div>
<button class="accordion btn btn-secondary">Who created Livesongbook Software?</button>
<div class="panel">
  <div>
    <p class="p">It was created by Eliezer Ke often known as eliezerkenya as one of his projects in March 2026</p>
  </div >
</div>
<button class="accordion btn btn-secondary">How can I download it?</button>
<div class="panel">
  <div>
    <p class="p">Well. If you are getting trouble in downloading LSB app please, contact the developer, visit the download page and follow the procedures or look for someone who already has it to guide you through</p>
  </div >
</div>

<button class="accordion btn btn-secondary">Who is the target user?</button>
<div class="panel">
  <div>
    <p class="p">The message believer or anyone feeling like using it, of any age </p>
  </div >
</div>
<button class="accordion btn btn-secondary">Version 1.0 release date</button>
<div class="panel">
  <div>
    <p class="p">Wednesday, April 1 2026. The first release </p>
  </div >
</div>


{% endblock %}

{% block quick_index %}
{% endblock %}