{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href='{{url_for("static", filename="/styles/faqs.css")}}'/>
{% endblock %}
{% block nav %}
        <li><button class="btn-link btn-secondary" onclick="window.location.href = '/lsb/download';">Download app</button></li>
        <li><button class="btn-link btn-secondary" onclick="window.location.href = '/lsb/subscribe-to-newsletter?org=lsb';">Subscribe</button></li>
{% endblock %}
{% block main_content %}
<h1 style="padding: 25px;">Frequently Asked Questions</h1>

<button class="accordion btn btn-secondary">What is livesongbook(LSB 1.0)?</button>
<div class="panel">
  <p class="p">LSB is a songbook software used by end time message believers in praising God through singing in churches, homes or anywhere they feel like singing</p>
</div>
<button class="accordion btn btn-secondary">Who created Livesongbook Software?</button>
<div class="panel">
  <div>
    <p class="p">It was created by Eliezer Ke often known as eliezerkenya as one of his projects in March 2026</p>
  </div >
</div>
<button class="accordion btn btn-secondary">How can I download it?</button>
<div class="panel">
  <div>
    <p class="p">Well. If you are getting trouble in downloading LSB app please, contact the developer, visit the download page and follow the procedures or look for someone who already has it to guide you through </p>
  </div >
</div>

<button class="accordion btn btn-secondary">Who is the target user?</button>
<div class="panel">
  <div>
    <p class="p">The message believer or anyone feeling like using it, of any age </p>
  </div >
</div>

<button class="accordion btn btn-secondary">Installing for linux?</button>
<div class="panel">
  <div>
    <p class="p">1. the .deb file: after downloading the file, open terminal with the download directory in the terminal. run<br><br>
      <b class="" style="font-family: monospace; margin: 10px; color: rgb(149, 149, 149);">  $ sudo apt -i DOWNLOADED_FILE_NAME.deb </b><br><br>
      2. The zip .tar.gz extract it on the desired path then open the livesongbook file, if you wish to create a shortcut, no problem it will still run.
    </p>
    
  </div >
</div>

<button class="accordion btn btn-secondary">Version 1.0 release date</button>
<div class="panel">
  <div>
    <p class="p">Wednesday, April 1 2026. The first release </p>
  </div >
</div>


{% endblock %}

{% block quick_index %}
{% endblock %}