{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href='{{url_for("static", filename="/styles/index.css")}}'/>
{% endblock %}
{% block main_content %}

<div class="descr">
    <img src='{{url_for("static", filename="/img/top.png")}}' width="75%"/>
    <h1 style="padding: 5px;">Welcome to livesongbook's official website, download this app now! With one tap and enjoy singing!</h1>
    <h3> </h3>
    <h3></h3>
    <div class="flex descr center">
        <button onclick="window.location.href = '/lsb/download';" class="btn-spacing btn btn-temp join">Download</button>
        <button onclick="window.location.href = '{{download.pdf}}';" class="btn-spacing btn btn-temp">Learn more</button>
    </div>
    <div class="descr center">
        <h3></h3>
    </div>
</div>
<div class="descr ">
    <img src='{{url_for("static", filename="/img/mobile.png")}}' width="50%"/>
    <h1 style="padding: 5px;">Get the apk for Android phones & tablets, and get full experience for free and remember. ``No Ads``</h1>
    <h3> </h3>
    <h3></h3>
    <div class="flex descr center">

        <button style="border-radius: 50px;" onclick="RegDownload(3, '{{download.apk}}')" class="btn-spacing btn btn-temp">Get for mobile</button>
    </div>
    <div class="descr center">
        <h3></h3>
    </div>
</div>
<div class="descr ">
    <img src='{{url_for("static", filename="/img/pc.png")}}' width="50%"/>
    <h1 style="padding: 5px;">Desktop setup. This is the heart of the project's functionality, cool presentation view and friendly interface for easy operation, it's currently supported in Windows and Linux OS only.</h1>
    <h3> </h3>
    <h3></h3>
    <div class="flex descr center">

        <button style="border-radius: 50px;" onclick="RegDownload(0, '{{download.exe}}')" class="btn-spacing btn btn-temp">Windows</button>
        <button style="border-radius: 50px;" onclick="RegDownload(4, '{{download.deb}}')" class="btn-spacing btn btn-temp">Linux</button>
    </div>
    <div class="descr center">
        <h3></h3>
    </div>
</div>
<div class="descr ">
    <h2 style="padding: 2px; margin-left: 50px; margin-right: 50px; color: orange;">Other platforms are currently not supported but on their way coming, soon they'll be listed here for you keep checking could be even tomorrow!</h2>
    <h3> </h3>
    <h1 style="margin-top: 30px;"><q>Thank you for visiting this website, welcome back! Remember to share this product with a friend. God bless you</h1></q>
    <div class="flex descr center">
    </div>
    <div class="descr center">
        <h3 style="color: gray;"><q>Disclaimer(mac): Next on you, keep checking, thanks! </q></h3>
        <h3 style="color: rgb(100, 99, 99);">@eliezerkenya</h3>
    </div>
</div>

{% endblock %}

{% block quick_index %}
{% endblock %}